<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	angular
		.module('taskApp',[])
		.factory('Task',function(){
			function Task(name){
				this.name = name;
				this.isCompleted = false;
			}
			Task.prototype.toggleCompletion = function(){
				this.isCompleted = !this.isCompleted;
			};
			return Task;
		})
		.factory('taskService', function(Task){
			var tasks = [];
			function addNewTask(taskName){
				var newTask = new Task(taskName);
				tasks.push(newTask);
			}
			function removeCompletedTasks(){
				for(var i=tasks.length-1;i>=0;i--){
					var task = tasks[i];
					if (task.isCompleted)
						tasks.splice(i,1);
				}
			}
			return {
				list : tasks,
				addNew : addNewTask,
				removeCompleted : removeCompletedTasks
			};
		})
		.filter('limitLength',function(){
			return function(taskName, size){
				if (taskName.length > size){
					return taskName.substr(0,size) + "..."
				} else {
					return taskName;
				}
			}
		})
		.controller('taskController', function($scope, taskService){
			
			$scope.tasks = taskService.list;
			$scope.addTask = function(taskName){
				taskService.addNew(taskName);
			};
			$scope.toggleCompletion = function(task){
				task.toggleCompletion();
			};
			$scope.removeCompleted = function(){
				taskService.removeCompleted();

			};

			$scope.filterCompleted = false;
			$scope.shouldShow = function(task){
				if ($scope.filterCompleted){
					return task.isCompleted;
				}
				return true;
			}

		});
	</script>
</head>
<body data-ng-app="taskApp" data-ng-controller="taskController">
	<h1>Task Manager</h1>
		<input type="checkbox" data-ng-model="filterCompleted">Completed</input>
		Search : <input type="text" data-ng-model="searchTerm">
		Size : <input type="text" data-ng-model="taskSize">
	<hr>
	<span>Task :</span>
	<input type="text" name="" id="" data-ng-model="taskName">
	<input type="button" value="Add Task" id="btnAddTask" data-ng-click="addTask(taskName)">
	<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
	<ul>
		<li data-ng-repeat="task in tasks | filter:searchTerm" 
			data-ng-click="toggleCompletion(task)"
			data-ng-class="{completed : task.isCompleted}"
			data-ng-show="shouldShow(task)"
			>{{task.name | limitLength:taskSize}}</li>
	</ul>
</body>
</html>